.result {
  height: 60px;
  background-color: skyblue;
  width: 99%;
  border: 1.5px solid blue;
}

.result p {
  font-size: 20px;
  margin: 5px;
  color: red;
  text-align: left;
  padding: 5px;
}

.calculator-body {
  max-width: 300px;
  margin: auto;
  font-size: 10px;
  text-align: center;
  color: blue;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  background-color: springgreen;
  color: blue;
}